{{ define "main" }}

    <div class="flex items-center">
        <h1 class="text-2xl text-rose-400 mr-1">Koding</h1>
        <span class="text-xs bg-slate-700 p-1 rounded-md text-sky-400 inline-block">BETA</span>
    </div>


    <h2 class="">Referensi programming bahasa Indonesia</h2>

    <div class="my-20">
        <a href="/html/apa-itu-html/" class="group">
        <img src="https://ucarecdn.com/f535e34e-ae3a-4571-b23a-d532205b7eb5/HTMLcover.png" 
             alt="covert computer image illustration"
             width="300" height="300">
            
           <p class="text-xl mt-2 hover:underline"> Referensi HTML</p>
        </a>
    </div>

    <div class="my-20">
        <p>Link</p>
        <ul>
            <!-- Place this tag where you want the button to render. -->
            <li class="flex items-center"> 
                <a class="mr-2" href="https://github.com/hilmanski/koding" target="_blank">Repository Github</a> 
                <div class="-mb-2">
                <a class="github-button" href="https://github.com/hilmanski/koding" data-color-scheme="no-preference: dark_dimmed; light: light; dark: dark;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star hilmanski/koding on GitHub">Star</a>
                </div>
                <script async defer src="https://buttons.github.io/buttons.js"></script>
            </li>
            <li> <a href="https://docs.kodi.ng" target="_blank">Dokumentasi/Catatan</a> </li>
        </ul>
    </div>

    <div>
        <p class="mb-2">Kontributor (made with contrib.rocks): </p>
        <a href="https://github.com/hilmanski/koding/graphs/contributors">
            <img src="https://contrib.rocks/image?repo=hilmanski/koding" />
        </a>
    </div>
    <!-- Place this tag where you want the button to render. -->
    

    <!-- <div class="mt-5">
        <ul>
            {{ range .Site.RegularPages }}
                <li>
                    <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
                </li>
            {{ end }}
        </ul>
    </div> -->
    
{{ end }}