{{ define "main" }}

    <h1 class="text-2xl text-rose-400">Koding
        <span class="text-xs bg-slate-700 p-1 rounded-md text-sky-400 inline-block">BETA</span> </h1>
    <h2 class="">Referensi programming bahasa Indonesia</h2>

    <div class="mt-5">
        <a href="/html/mulai/" class="group">
        <img src="https://ucarecdn.com/f535e34e-ae3a-4571-b23a-d532205b7eb5/HTMLcover.png" 
             alt="covert computer image illustration"
             width="300" height="300">
            
           <p class="text-xl mt-2 hover:underline"> Referensi HTML</p>
        </a>
    </div>

    <!-- <div class="mt-5">
        <ul>
            {{ range .Site.RegularPages }}
                <li>
                    <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
                </li>
            {{ end }}
        </ul>
    </div> -->
    
{{ end }}