@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #23272F;
    color: #F6F7F9;
    max-width: 900px;
    margin: 50px auto 0;
    font-size: 18px;
}

a {
    color: #f6bfd4;
}

input, textarea {
    color: rgb(31, 31, 31);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #313131;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(63, 62, 62);
}

/* =========================
=== Content Area
============================ */

.content p{
    line-height: 2rem;
}

.content .alert .title {
    margin-bottom: 5px;
}

.content .alert p{
    line-height: 1.5rem;
}

.content ol {
    list-style: decimal;
    list-style-position: inside;
}

.content figcaption{
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
    margin: 5px 0;
    color: #c1c1c2;
}

.content img {
    margin-top: 10px;
    border-radius: 10px;
}

.content img, .content figure {
    margin: 10px auto;
}

.content code {
    font-size: 0.9rem;
    padding: 2px;
    border-radius: 5px;
    background: #37393f;
}


.content h2{
 font-size: 1.5rem;
 margin-top: 30px;
 margin-bottom: 15px;
 color: rgb(189, 221, 249);
}

.content h2::before {
    content: '👉🏽 ';
}

.content h3{
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.content p:not(:last-child), .content ul, .content figure, .content iframe{
    margin-bottom: 20px;
}

.content iframe {
    margin-top: 20px;
}

.content ul:not(:first-child) {
    margin-top: -10px;
    list-style-type: disc;
    list-style-position: inside;
}

pre {
    margin: 20px 0;
    font-size: 0.9rem;
    line-height: 1.4rem;
    border-radius: 15px;
    padding: 20px !important; 
    border: 1px solid rgba(125 ,125 ,125 ,0.2);
    background: #282c34;
}

pre code.hljs {
    background: transparent;
    border: none;
    padding: 0 !important;
}

.info p {
    margin-bottom: 0px;
}

/* =========================
=== Label Colors    
============================ */
.label-HTML {
    color: #38BDF9;
}

/* Reset default behavior
because overwritten by tailwind */


input{
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

input[type="submit"] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
  
input[type="submit"]:hover {
    background-color: #c5c5c5;
}

/* =========================
=== Responsive mobile size    
============================ */
@media screen and (max-width: 900px) {
    body {
        margin: 50px auto;
        max-width: 90%;
    }
}

