<p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="html,result" data-slug-hash="{{ with .Get `src` }}{{.}}{{end}}" data-editable="true" data-user="sekolahkoding" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
    <span>See the Pen <a href="https://codepen.io/sekolahkoding/pen/{{ with .Get `src` }}{{.}}{{end}}">
    sample P and h1 tag</a> by Sekolah Koding (<a href="https://codepen.io/sekolahkoding">@sekolahkoding</a>)
    on <a href="https://codepen.io">CodePen</a>.</span>
</p>
