<footer class="mt-20 mb-10 pt-5 border-t border-slate-400
            text-gray-300 text-md" data-pagefind-ignore>

    <div class="md:flex justify-between ">
     <div>
        <p class="">
            <b>Status:</b> Situs ini baru dimulai, masih dalam tahap awal pengembangan.<br> 
            Hubungi
            <a href="https://twitter.com/hilmanski" target="_blank">@hilmanski</a>
            jika ada pertanyaan. 
        </p>
    </div>

    <div class="">
        <p class=""> <a href="https://docs.kodi.ng/"> Dokumentasi kodi.ng</a></p>
        <p class=""><a href="https://github.com/hilmanski/koding">Sumber Kode kodi.ng</a></p>
        <p><a href="https://kodi.ng/sitemap.xml">Sitemap (Peta Situs)</a> </p>
        <p><a href="https://kodi.ng/index.xml">RSS Feed</a> </p>
    </div>
</div>

<div class="mt-5">
    <p class="mb-2">Proyek lain:</p>
    <li><a target="_blank" href="https://halokoding.com/">Buku Halo Koding</a></li>
    <li><a target="_blank" href="https://sekolahkoding.com/">Sekolah dan Forum Koding</a></li>
    <li><a target="_blank" href="https://pulo.dev/">Konten Koding - PuloDev</a></li>
</div>
</footer>

{{ $js := resources.Get "main.js" | minify  }}
<script src="{{ $js.Permalink }}" defer></script>