<footer class="mt-20 mb-10 pt-5 md:flex justify-between border-t border-slate-400
            text-gray-300 text-md">

        <div>
        <p class="">
            <b>Status:</b> Situs ini baru dimulai, masih dalam tahap awal pengembangan.<br> 
            Hubungi
            <a href="https://twitter.com/hilmanski" target="_blank">@hilmanski</a>
            jika ada pertanyaan. 
        </p>

        <p class="mt-2">Baca <a href="https://docs.kodi.ng/"> dokumentasi situs ini</a></p>

        <p class="mt-2">Intip <a href="https://github.com/hilmanski/koding">Kode dari situs ini</a></p>
    </div>

    <div class="">
        <p class="mb-2">Proyek lain:</p>
        <li><a target="_blank" href="https://halokoding.com/">Buku Halo Koding</a></li>
        <li><a target="_blank" href="https://sekolahkoding.com/">Sekolah dan Forum Koding</a></li>
        <li><a target="_blank" href="https://pulo.dev/">Konten Koding - PuloDev</a></li>
    </div>
</footer>

{{ $js := resources.Get "main.js" | minify  }}
<script src="{{ $js.Permalink }}" defer></script>