{{ define "main" }}
    <style>
        body {
            max-width: 95%;
        }
    </style>

    <div class="flex mb-10">
        <main data-pagefind-body 
              class="w-full lg:w-6/12 lg:ml-[400px] -mt-2">
            <div class="text-center">
                <h1 class="text-3xl leading-9 mb-5 md:text-4xl 
                            text-rose-400 label-{{.Params.label}} "> {{.Title }} </h1>

                {{ if .Params.snippet }}
                <h2 class="italic text-md max-w-md mx-auto"> {{ .Params.snippet }} </h2>
                {{ end }}
            </div>


        <!-- <aside class="">
            <p class="mb-2"> Daftar Konten </p>

            <div>
            {{ .TableOfContents }}
            </div>
        </aside> -->


            <div class="content mt-10">
                {{ .Content }}
            </div>

            <!-- Prev and Next navigation -->
            <div data-pagefind-ignore 
                class="flex flex-col md:flex-row 
                            items-end  md:justify-between 
                            space-y-2 md:space-y-0
                            mt-10">
                {{ $pages := where site.RegularPages "Section" .Section }}
                <div>
                {{ with ($pages.ByParam "order").Next . }}
                    <a class="flex items-center text-slate-300 hover:text-slate-400" title="previous page in {{ .Section }}" href="{{ .Permalink }}">
                        <svg viewBox="0 0 3 6" class="mr-3 w-auto h-1.5 text-slate-400 overflow-visible group-hover:text-slate-600 dark:group-hover:text-slate-300"><path d="M3 0L0 3L3 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                        {{.Title }} </a>
                {{ end }}
                </div>

                <div>
                {{ with ($pages.ByParam "order").Prev . }}
                    <a class="flex items-center text-slate-300 hover:text-slate-300" title="next page in {{ .Section }}" href="{{ .Permalink }}">
                        {{.Title }}
                        <svg viewBox="0 0 3 6" class="ml-3 w-auto h-1.5 text-slate-400 overflow-visible group-hover:text-slate-600 dark:group-hover:text-slate-300"><path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                    </a>
                {{ end }}
                </div>
            </div>

            <div class="flex justify-end mt-10">
                <a class="text-sky-100 text-md hover:text-sky-500" href="https://github.com/hilmanski/koding/edit/main/content/{{ .File.Path }}" target="_blank">💅 Edit halaman ini</a>
            </div>

            <!-- Freddy feedback / survey -->
            <div id="fyfk-widget"></div>
            <script>
                var ffWidgetId = '78b85877-96db-40d9-b991-3fd5340ef438';
                var ffWidgetScript  = document.createElement('script');
                ffWidgetScript.type = 'text/javascript';
                ffWidgetScript.src = 'https://freddyfeedback.com/widget/freddyfeedback.js';
                document.head.appendChild(ffWidgetScript);
            </script>
            
        
        {{ partial "footer" . }}
        </main>

        <aside class="fixed hidden lg:block h-[90%] w-[300px] 
            overflow-y-auto pb-[150px]">
            {{ partial "sidebar-chapters" . }}
        </aside>

        <!-- Button list untuk device kecil -->
        <div class="fixed right-3 top-[130px] lg:hidden">
            <div id="burger-menu-btn" 
                class="w-fit h-fit 
                    bg-slate-700 hover:bg-slate-900 
                    rounded-lg p-1 text-center cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="36" height="36" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 6l16 0"></path>
                    <path d="M4 12l16 0"></path>
                    <path d="M4 18l16 0"></path>
                    </svg>
            </div>
        </div>
        
    </div>

    <div id="menu-reference" 
         class="fixed top-[100px] 
                transition-all ease-in-out duration-200
                -right-[400px]">
        <div class="w-full 
                    h-screen bg-slate-800 
                    px-8 py-5">
            <div 
                id="burger-menu-close-btn" 
                class="w-full flex mt-5 pb-4 justify-end hover:cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="36" height="36" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M18 6l-12 12"></path>
                    <path d="M6 6l12 12"></path>
                 </svg>
            </div>
            <div class="h-full w-full overflow-y-auto">
                {{ partial "sidebar-chapters" . }}
            </div>
        </div>
    </div>

    <!-- Code Highlighter -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/atom-one-dark.min.css">
    <style>
        .highlight pre { background-color: #282c34 !important }
        .code-badge {right:8px !important; padding-right:0px !important; padding-bottom: 0px !important;}
        .code-badge-language {margin-right: 0px !important;}
        .code-badge-copy-icon { font-size: 1.8em !important }
        .code-badge-copy-icon::after { content: url('https://api.iconify.design/material-symbols/content-copy-outline.svg?color=white') }
        .code-badge-copy-icon.text-success::after { content: url('https://api.iconify.design/material-symbols/content-copy-rounded.svg?color=white') }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highlightjs-badge@0.1.9/highlightjs-badge.min.js"></script>
    <script>
        hljs.highlightAll()
        window.onload = () => highlightJsBadge()
    </script>

    {{ if in .Content "codepen" }}
        <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
    {{ end }}

    <script>
        const _article = document.getElementsByClassName('content')[0]

        const _links = _article.getElementsByTagName('a')
        for (var i = 0; i<_links.length; i++) {
          _links[i].setAttribute('target', '_blank')
        }
    </script>

    <!-- List untuk device kecil -->
    <script>
        const menuRef = document.getElementById('menu-reference')
        const burgerMenuBtn = document.getElementById('burger-menu-btn')
        const closeMenuBtn = document.getElementById('burger-menu-close-btn')

        burgerMenuBtn.addEventListener('click', function () {
            burgerMenuBtn.classList.add('hidden')
            menuRef.style.right = '0'
        })
        
        closeMenuBtn.addEventListener('click', () => {
            burgerMenuBtn.classList.remove('hidden')
            menuRef.style.right = '-400px'
        })
    </script>

{{ end }}